body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #0c686e; 
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #478a8e8f;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(92, 76, 36, 0.263); 
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.metricsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.metric {
  text-align: center;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1 0 20%;
  cursor: pointer;
  background-color: hwb(0 69% 31% / 0.747); 
  transition: transform 0.3s ease;
}

.metric:hover {
  transform: translateY(-5px);
}

.metric h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color:black;
}

.metric p {
  font-size: 18px;
  color: black;
}

.metric a,
.metric Link {
  color: inherit;
  text-decoration: none;
}

.order-container {
  display: flex;
  flex-direction: column-reverse;
}

.dashboard-container {
  flex: 1;
}


@media (min-width: 768px) {
  .metricsContainer {
    justify-content: space-around;
  }

  .metric {
    flex: 1 0 45%;
  }

  .order-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .dashboard-container {
    margin-top: 20px;
  }
}
