.navbar {
  background-color: #35495E; 
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 30px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  color: #FFFFFF; 
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin: 0 15px; 
}

.nav-link {
  text-decoration: none;
  color: #E0E6ED; 
  font-weight: bold;
  transition: color 0.3s; 
}

.nav-link:hover {
  color: #CDD3DA; 
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px; 
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-item {
    margin: 10px 0; 
  }
}
